@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-2xl mx-auto;
}

.iqra-input {
  @apply bg-gray-800 rounded px-4 py-2;
}

.ayah-number {
  @apply border border-teal-600 rounded-full w-8 h-8 text-center flex justify-center items-center text-sm font-bold;
}
.ayah {
  @apply text-lg md:text-2xl font-semibold leading-loose;
}

.rtl {
  direction: rtl;
}

/* Loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: teal teal transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent teal;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
